<%= render 'layouts/menu_lateral_admin' %>
<legend>Ciudades</legend>


<%= link_to 'Nueva ciudad', new_city_path,:class => "btn btn-success btn-block" %>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Ciudade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.city %></td>
        <td><%= link_to 'Edit', edit_city_path(city) %></td>
        <td><%= link_to 'Destruir', city, method: :delete, data: { confirm: 'Estás seguro ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<%= render 'layouts/footer_user' %>

