<div class="container">
  <div class="row">
    <div class="col-md-3">
        <div class="panel panel-primary">
          <div class="panel-heading">
          </div>
          <ul class="list-group">
            <%= link_to "<i class='fa fa-home'></i> Home".html_safe,system_index_path,:class => "list-group-item" %>
            <%= link_to "<i class='fa fa-list'></i> Productos".html_safe,products_path,:class => "list-group-item" %>
            <%= link_to "<i class='fa fa-map-marker'></i> Ciudades".html_safe,cities_path,:class => "list-group-item" %>
            <%= link_to "<i class='fa fa-users'></i> Proveedores".html_safe,proveedores_path,:class => "list-group-item" %>
            <%# link_to "<i class='fa fa-home'></i> Home".html_safe,root_path,:class => "list-group-item" %>
            <%# link_to "<i class='fa fa-home'></i> Home".html_safe,root_path,:class => "list-group-item" %>
            <%# link_to "<i class='fa fa-home'></i> Home".html_safe,root_path,:class => "list-group-item" %>
            <%# link_to "<i class='fa fa-home'></i> Home".html_safe,root_path,:class => "list-group-item" %>
            <%# link_to "<i class='fa fa-home'></i> Home".html_safe,root_path,:class => "list-group-item" %>  
          </ul>
        </div>
      </div>
      <div class="col-md-9">        
        <div class="pull-right">
            <%= link_to "Volver", '#', onclick: "history.back()" %>
          </div>